
.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }
.footer {
  background-color: #222222;
  margin: 0px auto;
  padding: 20px 0px; 
  color: #ddd;
}

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
   }

#header {
  margin: 0px auto;
  padding: 70px 30px;
  background: #f6b319;
  /**/ }

address {
  font-size: 80%;
  margin: 0px;
  color: floralwhite; }

  #addre {
    color: #0f0f0f;
  }
  

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; 
  
}

.navbar-dark {
  background-color: #740d32; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

/*#512DA8 navbar dark*/

/* #9575CD  header*/

body {
  font-family: Oxygen, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


/* address {
  color: floralwhite;
} */

h1 {
  color: #557c3e;
  font-family: Lora,Oxygen, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0.9;
  /*line-height: .75;*/
}

.modal-content .modal-header {
  background-color: #740d32;
  color: floralwhite; }
  .modal-content .modal-header .close {
    color: floralwhite; }

.modal-content .modal-body {
  background-color: #FFFF66; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 500px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 500px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }

  /* Tiles*/
  #menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
  }
  #menu-tile:hover, #specials-tile:hover, #map-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
  }
  #menu-tile {
    background: url('../img/search-members.png') no-repeat;
    background-position: center;
  }
  #specials-tile {
    background: url('../img/book_search_icon.jpg') no-repeat;
    background-position: center;
  }
  #menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
  }
  /* END HOME PAGE */
  
  /* MENU CATEGORIES PAGE */
  .category-tile { 
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0 auto 15px;
  }
  .category-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
  }
  .category-tile:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
  }
  
  #menu-categories-title + div {
    margin-bottom: 50px;
  }
  /* END MENU CATEGORIES PAGE */
  
  /* SINGLE CATEGORY PAGE */
  .menu-item-tile {
    margin-bottom: 25px;
  }
  .menu-item-tile hr {
    width: 80%;
  }
  .menu-item-tile .menu-item-price {
    font-size: 1.1em;
    text-align: right;
    margin-top: -15px;
    margin-right: -15px;
  }
  .menu-item-tile .menu-item-price span {
    font-size: .6em;
  }
  .menu-item-photo {
    position: relative;
    border: 2px solid #3F0C1F; 
    overflow: hidden;
    padding: 0;
    margin-right: -15px;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 250px;
  }
  .menu-item-photo div {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    background-color: #557c3e;
    text-align: center;
  }
  .menu-item-description {
    padding-right: 30px;
  }
  h3.menu-item-title {
    margin: 0 0 10px;
  }
  .menu-item-details {
    font-size: .9em;
    font-style: italic;
  }
  /* END SINGLE CATEGORY PAGE */
  