
.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }
.footer {
  background-color: #222222;
  margin: 0px auto;
  padding: 20px 0px; 
  color: #ddd;
}

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
   }

#header {
  margin: 0px auto;
  padding: 70px 30px;
  background: #f6b319;
  /**/ }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; 
  
}

.navbar-dark {
  background-color: #740d32; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

/*#512DA8 navbar dark*/

/* #9575CD  header*/

body {
  font-family: Oxygen, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


address {
  color: floralwhite;
}

h1 {
  color: #557c3e;
  font-family: Lora,Oxygen, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0.9;
  /*line-height: .75;*/
}

.modal-content .modal-header {
  background-color: #740d32;
  color: floralwhite; }
  .modal-content .modal-header .close {
    color: floralwhite; }

.modal-content .modal-body {
  background-color: #FFFF66; }

.carousel {
  background: #512DA8; }
  .carousel .carousel-item {
    height: 500px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 500px; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
